<h2>Привет, {{user}}</h2>
<p>Вы зарегистрировались в магазине <a href="{{url}}" target="_blank">Guitar Shop</a></p>
<p>Ваш логин: <span style="font-style: italic; font-weight: bold;">{{email}}</span></p>
<p>Ваш пароль: <span style="font-style: italic; font-weight: bold;">{{password}}</span></p>
